.container {
            display: flex;
            height: 100vh;
        }
		
		#main-content {
		    flex: 3;
		    padding: 20px;
		    overflow-y: auto;
		    position: relative;
		}

		#main-area,
		#new-note-area {
		    width: 100%;
		}
		
		#main-note-form,
		#new-note-form {
		    max-width: 800px;
		    margin: 0 auto;
		}
		
		/* タイトル入力欄 */
		.note-title-input {
		    width: 100%;
		    font-size: 2.4em;
		    padding: 8px;
		    margin-bottom: 10px;
		}

		/* 本文入力欄 */
		.note-content-textarea {
		    width: 100%;
		    height: 300px;
		    font-size: 1.6em;
		    padding: 8px;
		    line-height: 1.4;
		    resize: vertical;
		}

        #sidebar {
            flex: 1;
            background-color: #f0f0f0;
            border-left: 1px solid #ccc;
            overflow-y: auto;
            padding: 10px;
        }

        /* サイドバー内スタイル */
		.note-summary {
			position: relative;
            padding: 10px;
            border-bottom: 1px solid #ccc;
            cursor: pointer;
        }

        .note-summary:hover {
            background-color: #e0e0e0;
        }
		
		.note-header {
		    display: flex;
		    justify-content: space-between;
		    align-items: center;
		}

		.note-title {
		    font-weight: bold;
		    font-size: 16px;
		    overflow: hidden;
		    white-space: nowrap;
		    text-overflow: ellipsis;
		}
		
		.delete-note-button {
		    background: none;
		    border: none;
		    cursor: pointer;
		    font-size: 18px; /* アイコン大きめにする */
		    color: #888;
		    padding: 0;
		    margin-left: 8px;
		}

		.delete-note-button:hover {
		    color: red;
		}

        .note-content-preview {
            color: #666;
            font-size: 0.9em;
        }
		
		#create-note-button {
		    margin-top: 20px;
		    padding: 8px 12px;
		    width: 100%;
		    background-color: #4CAF50;
		    color: white;
		    border: none;
		    cursor: pointer;
		}

		#create-note-button:hover {
		    background-color: #45a049;
		}
		
		#trash-button {
		    margin-top: 10px;
		    padding: 8px 12px;
		    width: 100%;
		    background-color: #f44336; /* 赤色 */
		    color: white;
		    border: none;
		    cursor: pointer;
		}

		#trash-button:hover {
		    background-color: #d32f2f;
		}

		#new-note-area {
		    padding: 20px;
		}
